@charset "UTF-8";
/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap"); */

body {
  color: #21476f!important;
  font-family: 'Roboto', sans-serif!important;
}
#wrapper {
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

/* NAVBAR GRADIENT */
.btn-grad {background-image: linear-gradient(to right, #4776E6 0%, #8E54E9  51%, #4776E6  100%)}
.btn-grad {
   margin: 10px;
   padding: 15px 45px;
   text-align: center;
   text-transform: uppercase;
   transition: 0.5s;
   background-size: 200% auto;
   color: white;            
   box-shadow: 0 0 20px #eee;
   border-radius: 10px;
   display: block;
 }

 .btn-grad:hover {
   background-position: right center; /* change the direction of the change here */
   color: #fff;
   text-decoration: none;
 }
/* END OF NAVBAR GRADIENT */


 /* REGISTER FORM*/
 .register-form{
   margin-top:100px;
 }
 .note
 {
     text-align: center;
     height: 80px;
     background: #ed9e9e;
     color: #fff;
     font-weight: bold;
     line-height: 80px;
 }
 .form-content
 {
     padding: 5%;
     border: 1px solid #ced4da;
     margin-bottom: 2%;
 }
 .form-control{
     border-radius:1.5rem;
 }
 .btnSubmit
 {
     border:none;
     border-radius:1.5rem;
     padding: 1%;
     width: 20%;
     cursor: pointer;
     background:rgb(138, 160, 192);
     color: #fff;
 }
 /* END OF REGISTER FORM */

 /* DOCTOR TABLE */
 